BankServiceClient/src/main/resources/wsdl/BankService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="urn:example:bank" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="BankService" targetNamespace="urn:example:bank">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:example:bank" elementFormDefault="unqualified" targetNamespace="urn:example:bank" version="1.0">

  <xs:element name="transfer" type="tns:transfer"/>

  <xs:element name="transferResponse" type="tns:transferResponse"/>

  <xs:complexType name="transfer">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
      <xs:element name="arg2" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transferResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="transferResponse">
    <wsdl:part element="tns:transferResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="transfer">
    <wsdl:part element="tns:transfer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="BankService">
    <wsdl:operation name="transfer">
      <wsdl:input message="tns:transfer" name="transfer" wsam:Action="urn:example:bank/BankService/transferRequest" wsaw:Action="urn:example:bank/BankService/transferRequest">
    </wsdl:input>
      <wsdl:output message="tns:transferResponse" name="transferResponse" wsam:Action="urn:example:bank/BankService/transferResponse" wsaw:Action="urn:example:bank/BankService/transferResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BankServiceSoapBinding" type="tns:BankService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsaw:UsingAddressing xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsdl:required="true"/>
    <wsp:PolicyReference URI="#BankServiceSoapBinding_WSAM_Addressing_Policy"/>
    <wsdl:operation name="transfer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="transfer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="transferResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BankService">
    <wsdl:port binding="tns:BankServiceSoapBinding" name="BankServicePort">
      <soap:address location="https://localhost:9444/TransactionWebService/BankService"/>
    </wsdl:port>
  </wsdl:service>
    <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="BankServiceSoapBinding_WSAM_Addressing_Policy"><wsam:Addressing><wsp:Policy/></wsam:Addressing></wsp:Policy>
</wsdl:definitions>